.menu {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	background-color: white;
	width: 60vw;
	z-index: 2;
	padding: 0 8px;
}

.menu__top-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 80px;
	border-bottom: 1px solid black;
	align-items: center;
}

.menu__close-icon {
	width: 20px;
	cursor: pointer;
}

.menu__items {
	padding: 0;
	list-style: none;
}
.menu__item {
	padding: 8px;
	text-align: center;
	cursor: pointer;
}

.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.23);
}
