.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* filter: blur(5px) TODO: aggiungere a app-container attraverso context*/ 
}

.modal-content {
    border: 2px solid black;
    border-radius: 12px;
    background-color: aliceblue;
    width: 450px;
    height: 250px;
    overflow: auto;
}

.modal-top-section {
	display: flex;
	justify-content: flex-end;
	height: 30px;
	border-bottom: 1px solid black;
    background-color: lightblue;
    position: fixed;
    width: inherit;
    /* TODO: con position fixed rimangono gli spigoli in alto */ 
}

.modal__close-icon {
	width: 20px;
	cursor: pointer;
    margin-right: 10px;
}

.modal-body-section {
    /* display: flex; TODO: perchè non funziona ?
    align-items: center;
    justify-content: center; */
    padding: 35px; 
    margin-top: 30px;
}
