.modal-container {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.modal-pos {
    position: fixed;
    height: 300px;
    width: 600px;
    left: calc(50% - 300px);
    top: 100px;
    border: 2px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.modal-top-section {
	display: flex;
	justify-content: flex-end;
	height: 30px;
	border-bottom: 1px solid black;
    background-color: lightblue;
}

.modal-close-icon {
	width: 20px;
	cursor: pointer;
    margin-right: 10px;
}

.modal-description {
    margin-bottom: 30px;
}