.header--light {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	height: 80px;
	align-items: center;
	padding: 0 8px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

.header__logo {
	font-size: 22px;
	font-weight: bold;
}

.header__menu img {
	width: 20px;
	cursor: pointer;
}

.header--dark {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	height: 80px;
	align-items: center;
	padding: 0 8px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	border-bottom: 1px solid rgb(195, 229, 254);
}
