.post {
	height: 100px;
	display: flex;
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-number {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

